@import 'variables';
@import '_normalize';
@import 'mixins';
@import '_background';

#center {
    display: block;
    top: 50%;
    width: 100%;
    text-align: center;
    h1#time {
      font-size: $font-size-h1;
      font-weight: $font-weight-h1;
    }
    .format {
      position: absolute;
      left: 102%;
      bottom: 9%;
      font-size: 150%;
      opacity: 0;
    }
    h2 {
      font-size: $font-size-h2;
      font-weight: $font-weight-h2;
      line-height: 1;
    }
}

#center-below {
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    h3 {
      font-size: $font-size-h3;
      font-weight: $font-weight-h3;
    }
    input {
      width: 450px;
      border-bottom-width: 2px;
      display: block;
      background: 0;
      border: 0;
      border-bottom: 3px solid #fff;
      color: #fff;
      font-weight: 500;
      outline: 0;
      margin: 0 auto;;
    }
}

#todo {
   float: right;
   right: 0;
}

.dropdown-menu {
  background-color: $color-drak-grey;
  li a {
    color: $color-grey;
  }
}