// Variables

$font-size-h1: 1050%;
$font-weight-h1: bold;
$font-size-h2: 300%;
$font-weight-h2: bold;
$font-size-h3: 187.5%;
$font-weight-h3: bold;
$color-white: #fff;
$color-drak-grey: #384047;
$color-grey: #7b8b8e;